
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  --orange-color: #fb8f2c;
  --white-color: #ffffff;
  --rgba-color: rgba(255, 255, 255, 1);
}
body {
  margin: 0;
  padding: 0;
  background-color: #111114;
  font-family: "Plus Jakarta Sans", sans-serif ;
  overflow-x: hidden;
  box-sizing: border-box;
}

.introduce {
  font-family: "Libre Bodoni", serif;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  width: 100%;
  padding-left: 4%;

}

.introduce .introduce-menu {
  color: var(--orange-color);
  margin-top: 35px;
  border-bottom: 2px solid var(--orange-color);
  display: inline-block;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}
.introduce-text {
  
  min-width: 300px;
 
  
}

.introduce-image {
  

  min-width: 280px;
  max-width: 100%;
  box-sizing: border-box;
}
.introduce-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.introduce .introduce-text h1 {
  color: var(--rgba-color);
  font-weight: 500;
  font-size: 64px;
}

.introduce .introduce-text h5 {
  opacity: 0.8; 
}
.introduce .introduce-text .evidence {
  opacity: 0.8; 
  line-height: 1.5;
}
@media (max-width: 768px) {
  .introduce {
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
  }
  .introduce .introduce-menu {
    margin-top: 20px;
    
  }

  .introduce .introduce-text h1 {
    font-size: 36px; 
  }
  .introduce .introduce-text h5 {
    font-size: 16px; 
  }
  .introduce .introduce-text .evidence {
    font-size: 14px; 
  }
}

.restaurant {
  margin-top: 20px;
  background-image: url("assets/introduceaboutrestaurant.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  width: 100%;
  height: 194px;

  color: var(--rgba-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.restaurant .restaurant-number {
  display: flex;
  align-items: center;
  gap: 20px;
}
.restaurant .restaurant-number h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
}
.restaurant .restaurant-number h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
@media (max-width: 1024px) {
  .introduce .introduce-text h1 {
    font-size: 48px;
  }

  .restaurant .restaurant-number h2 {
    font-size: 48px;
    line-height: 58px;
  }

  .restaurant .restaurant-number h1 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .restaurant {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  
  .restaurant .restaurant-number h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .restaurant .restaurant-number h1 {
    font-size: 18px;
    line-height: 26px;
  }
}

/* Most popular food */
.most-popular-food {
  color: var(--rgba-color);
  width: 80%;
  margin: 0 auto;
}
.most-popular-food .most-popular-food-text {
  text-align: center;
}
.most-popular-food .most-popular-food-text h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
}
.most-popular-food .most-popular-food-text h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
}
.most-popular-food-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}
.item-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.most-popular-food-items .items {
  border: none;
  outline: none;
  box-sizing: border-box;
  flex: 0 0 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}
.most-popular-food-items .item-name {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.most-popular-food-items .item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 10px;
}

.most-popular-food-items .item-order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
.most-popular-food-items .star {
  color: var(--orange-color);
  font-size: 22px;
}
.most-popular-food-items .star .except {
  color: var(--white-color);
}

.item-order .order {
  border-bottom: 2px solid var(--orange-color) ;
  padding-bottom: 5px;
   font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .most-popular-food .most-popular-food-text h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 74px;
}
.most-popular-food .most-popular-food-text h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.6;
}
.most-popular-food-items .item-name {

  
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}
.most-popular-food-items .item-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.7;
  
}
    
}
@media (max-width: 970px) {
  .most-popular-food-items {
    flex-direction: column;
    align-items: center; 
  }

  .most-popular-food-items .items {
    width: 80%; 
    max-width: 80%;
    flex: none; /* bỏ flex-grow/shrink/basis cũ */
    margin-bottom: 20px; 
  }
 .most-popular-food-items .items .item-text{
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
 }
  .most-popular-food-items .items .item-name{
    margin-top: 30px;
  font-size: 35px;
  line-height: 30px;
 }
  .item-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .br{
    display: none;
  }
}


.explore-all-food{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.right img{
   width: 22px;
   margin-left: 10px;
}
.explore-all-food-text{
  border-bottom: 2px solid var(--orange-color);
  padding-bottom: 5px;
}



/* Time  */

.time {
  color: var(--white-color);
  width: 100%;
  padding: 60px 0;
}

.time-items {
  width: 80%;
  margin: 0 auto;
  display: flex;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.time .item {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  
}
.find-us{
  margin: auto;
  
  text-align: center;
}

/* Background ảnh bên trái */
.time .item:first-child {
  background: url('./assets/Avenue.svg') ;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}



/* Màu nền cam bên phải */
.time .orange-bg {
  background-color: #f57c00;
  color: #111;
}

/* Title căn giữa */
.time .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Các dòng giờ mở cửa */
.schedule .day-time {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .time-items {
    flex-direction: column;
    align-items: center;
  }
  .time .item {
    width: 80%;
    padding: 20px;
  }
  .time .item:first-child {
    background-size: cover;
    height: 200px;
  }
  .time .orange-bg {
    padding: 20px;
  }
  
}




 /* Our menu  */

.our-menu{
  color: var(--white-color);
  width: 100%;
  padding: 60px 0;
}

.our-menu .our-menu-items{
  width: 80%;
  margin: 0 auto;
}
.our-menu-items .our-menu-item .title,
.our-menu-items .our-menu-item .main-title,
.our-menu-items .our-menu-item .menu-intro{
  text-align: center;
  margin-bottom: 20px;
}
.our-menu-items .our-menu-item .title{
  font-size: 15px;
  font-weight: 500;
}
.our-menu-items .our-menu-item{
  width: 100%;
}
.our-menu-items .our-menu-item .main-title{
  font-size: 38px;
  font-weight: 500;
 
}
.our-menu-items .our-menu-item .menu-intro{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
  margin-bottom: 50px;
}
.our-menu-item .menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 0;
  flex-wrap: wrap;
}
.our-menu-item .menu-list .active span{
border-bottom: 2px solid var(--orange-color);
  color: var(--orange-color);
}
.our-menu-items .line{
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

.our-menu-items .our-menu-item-two{
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  gap: 2%;
}

.our-menu-items .our-menu-item-two .menu-item img{
  width: 13%;
  
  height: auto;
  
  object-fit: cover;
  display: block;
}
.our-menu-items .our-menu-item-two .menu-item-text {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.our-menu-items .our-menu-item-two .menu-item {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.our-menu-items .our-menu-item-two .menu-item-text p{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
@media screen and (min-width:970px) and (max-width:1200px) {
  /* .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(2, 1fr);
  } */
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 15%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width:970px) {
  /* .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(2, 1fr);
  } */
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 20%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 18px;
    line-height: 35px;
  }
  
}
@media screen and (max-width: 760px) {
  .our-menu{
    margin-bottom: 20px;
  }
  .our-menu-item .menu-list{
    gap:15px;
    font-size: 18px;
    
  }
  .menu-list li{
    flex-basis: 30%;
    text-align: center;
  }
  .our-menu-item .menu-intro br{
    display: none;
  }
  .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-menu-items .our-menu-item-two .menu-item{
    
    margin-top: 10px;
  }
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 15%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 18px;
  }
  
}






/* Visit restaurant  */
.visit-restaurant{
  color: var(--white-color);
  width: 100%;
  margin-top: 80px;
  
}
.visit-restaurant .visit-restaurant-items{
  width: 80%;
  margin: 0 auto;
}

.visit-restaurant .visit-restaurant-items .title,.visit-restaurant .visit-restaurant-items .intro{
  text-align: center;
  margin-bottom: 20px;
}


.img-restaurant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 1fr = 1 phần của không gian còn lại sau khi đã trừ các khoảng cách (gap, padding, border, v.v.) */
  /* ví dụ parent 900px con /3 là 300 */
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
  
.img-restaurant_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-restaurant .item2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.img-restaurant .item3 {
  /* grid-row: span 2 / span 2; */
  /* /span 2 là chiểm 2 hàng */
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row: span 2;
}

.img-restaurant .item4 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.img-restaurant .item5 {
  grid-column-start: 3;
}
.visit-restaurant .dot{
  display: none;
}


@media screen and (max-width:780px){
  .visit-restaurant{
   margin-top: 80px;
   padding-top: 20px;
  }
  .visit-restaurant .intro br{
    display: none;
    margin-bottom: 20px;
  }
  .visit-restaurant-items{
    width:90%;
    margin: auto;
  }
  .img-restaurant {
    gap:12px;
  }
  .visit-restaurant   .visit-restaurant-items .intro{
    line-height: 25px;
  }
}

@media screen and (max-width:600px){
  .img-restaurant{
    grid-template-columns:1fr ;
    grid-template-rows: 1fr;
  }
.img-restaurant .img-restaurant_item{
  display: none;
}
.img-restaurant  .item1{
  display: block;
  
}
.img-restaurant  .item1 img{
  display: block;
}
.visit-restaurant .dot{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.visit-restaurant .dot .item-dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}
.visit-restaurant .dot .dot1{
  width:18px;
  border-radius: 4px;
  opacity: 1;
}
}




/* <!-- Reserve ! Book Now  --> */


 .reserve-book {
  width: 100%;
  margin-top: 80px;
}

.reserve-book .reserve-book-items {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
}

.reserve-book-text {
  background-color: var(--orange-color);
  color: #111114;
}

.reserve-book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reserve-inner {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

.reserve-book-text .title {
  padding-left: 40px;
  font-size: 45px;
  font-family: "Libre Bodoni", serif !important;
}

.set-date,
.guest {
  flex: 1;
}

.reserve-inner .set-date .time {
  display: flex;
  color: #111114;
  padding: 0;
}

.reserve-inner .set-date .time h3 {
  font-size: 40px;
  margin-right: 5px;
}

.reserve-inner .set-date .time .time-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 45px;
}

.reserve-inner .set-date .time .time-detail img,
.guest-detail img {
  width: 10px;
  height: 5px;
  object-fit: cover;
  display: block;
}

.guest-item {
  display: flex;
  color: #111114;
}

.guest-item h3 {
  font-size: 40px;
}

.guest-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
  margin-left: 5px;
}

.set-date p,
.guest p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.reserve-book-items .btn {
  padding-left: 40px;
  border: none;
  width: 100%;
  height: 70px;
}

.reserve-book-items .btn button {
  width: 70%;
  height: 60%;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}


@media (max-width: 768px) {
  .reserve-book .reserve-book-items {
    grid-template-columns: 1fr;
  }

  .reserve-inner {
    /* flex-direction: column; */
    gap: 20px;
    padding-left: 20px;
  }

  .reserve-book-text .title {
    padding-left: 20px;
    font-size: 32px;
  }

  .reserve-book-items .btn {
    padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
   
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .reserve-book-items .btn button {
    width: 80%;
    height: 56px;
  }
}







/* They will cook for you  */
.cook-for-you{
 width: 100%;
 color: var(--white-color);
 padding-top: 80px;
}

.cook-for-you .cook-inner{
  width: 80%;
  margin: 0 auto;
}
.cook-for-you .cook-inner .item2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.cook-for-you .cook-inner .item2 .intro{
  width:calc((100%-40px)/3);
}
.cook-for-you .cook-inner .item2 .intro img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border:1px solid rgba(255, 255, 255, 0.5);
}
.cook-for-you .cook-inner .item2{
  text-align: center;
}
.cook-for-you .cook-inner .item1{
  text-align: center;
}
.cook-for-you .cook-inner .item1 {
  margin-bottom: 40px;
}
.cook-for-you .cook-inner .item1 h2{
  font-size: 64px;
  line-height: 74px;
  font-weight: 500;
}
.cook-for-you .cook-inner .item1 p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}







/* Our Blog  */

.our-blog{
  color:var(--white-color);
  width: 100%;
  font-family: "Libre Bodoni", serif !important;
  margin-top: 120px;
  margin-bottom: 120px;
}
.our-blog .our-blog-content{
  width: 80%;
  margin: 0 auto;
}
.our-blog .our-blog-content .our-blog-title{
    text-align: center;
}
.our-blog .our-blog-content .our-blog-title p{
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}
.our-blog .our-blog-content .our-blog-title h1{
  font-size: 64px;
  font-weight: 500;
  
}
.our-blog-main{
width: 100%;
}
.our-blog-main .item{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  gap:30px;
  width: 100%;
  margin-bottom: 60px;
}

.our-blog-main .item .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our-blog .our-blog-main .item .content .time{
  margin-top: 0;
  padding: 0;
  font-size: 16px;
}
.our-blog .our-blog-main .item .content .title{
  font-size: 30px;
}
.our-blog .our-blog-main .item .content .explain{
  opacity: 0.8;
}
.our-blog .our-blog-main .item .content .comment{
  display: flex;
  gap: 90px;
  justify-content: flex-start;
}
.our-blog .our-blog-main .item .content .comment{
  font-size: 14px;
}
.our-blog .our-blog-main .item .content .read-now{
  cursor: pointer;
  margin-top: 1%;
}
.our-blog .our-blog-main .item .content .read-now .inner{
  transition: all 0.2s ease-in-out;
  padding-bottom: 5px;
   font-size: 18px;
   
}
.our-blog .our-blog-main .item .content .read-now .inner:hover{
  border-bottom: 2px solid var(--orange-color);
  font-size: 20px;
  
}


.our-blog-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
   
    font-size: 18px;
}

.our-blog-footer-text{
  border-bottom: 2px solid var(--orange-color);
  padding-bottom: 5px;
}




@media screen and (max-width:768px) {
  .our-blog-main .item{
    grid-template-columns: 1fr;
  }
  .our-blog-main .item:last-child .img{
  order: 0;
}
.our-blog-main .item:last-child .content{
  order: 1;
}

}











/* NewsLetter  */

.newsletter {
  width: 100%;
  margin-top: 20px;
  background-image: url("assets/introduceaboutrestaurant.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 194px;
  color: var(--rgba-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.newsletter .item-title,
.newsletter .item-input {
  padding-left: 12%;
}
.newsletter .item-title h3{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.newsletter .item-input {
  position: relative;
  width: 80%;
}

.newsletter .item-input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 8px 15px 0;
  color: #fff;
  font-size: 16px;
}

.newsletter .item-input input::placeholder {
  color: #ccc;
  opacity: 0.6;
}

.newsletter .item-input i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .newsletter{
    grid-template-columns: 1fr;
  }
  .newsletter .item-input{
    padding-bottom: 20px;
 
  }
}