/* @import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  --orange-color: #fb8f2c;
  --white-color: #ffffff;
  --rgba-color: rgba(255, 255, 255, 1);
}
body {
  margin: 0;
  padding: 0;
  background-color: #111114;
  font-family: "Plus Jakarta Sans", sans-serif ;
  overflow-x: hidden;
  box-sizing: border-box;
}

.introduce {
  font-family: "Libre Bodoni", serif;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  width: 100%;
  max-width: 1440px;
  padding-left: 2%;
}
.introduce .introduce-menu {
  color: var(--orange-color);
  margin-top: 35px;
  border-bottom: 2px solid var(--orange-color);
  display: inline-block;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.introduce-text {
  flex-shrink: 1;
  min-width: 300px;
}

.introduce-image {
  flex-shrink: 1;

  min-width: 280px;
  max-width: 100%;
  box-sizing: border-box;
}

.introduce .introduce-text h1 {
  color: var(--rgba-color);
  font-weight: 500;
  font-size: 64px;
}

.introduce .introduce-text h5 {
  opacity: 0.8; /* trắng mờ */
}
.introduce .introduce-text .evidence {
  opacity: 0.8; /* trắng mờ */
  line-height: 1.5;
}
@media (max-width: 768px) {
  .introduce {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 20px;
  }
  .introduce .introduce-menu {
    margin-top: 20px;
  }
  .introduce .introduce-text h1 {
    font-size: 36px; /* giảm kích thước chữ */
  }
  .introduce .introduce-text h5 {
    font-size: 16px; /* giảm kích thước chữ */
  }
  .introduce .introduce-text .evidence {
    font-size: 14px; /* giảm kích thước chữ */
  }
}

.restaurant {
  margin-top: 20px;
  background-image: url("./assets/introduceaboutrestaurant.svg");
  /* background-image: url("home/assets/introduceaboutrestaurant.svg"); */
  backdrop-filter: blur(5px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
  height: 194px;
  top: 643px;
  color: var(--rgba-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.restaurant .restaurant-number {
  display: flex;
  align-items: center;
  gap: 20px;
}
.restaurant .restaurant-number h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
}
.restaurant .restaurant-number h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
@media (max-width: 1024px) {
  .introduce .introduce-text h1 {
    font-size: 48px;
  }

  .restaurant .restaurant-number h2 {
    font-size: 48px;
    line-height: 58px;
  }

  .restaurant .restaurant-number h1 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .restaurant {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .restaurant .restaurant-number {
    display: flex;
    text-align: center;
  }
  .restaurant .restaurant-number h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .restaurant .restaurant-number h1 {
    font-size: 18px;
    line-height: 26px;
  }
}

/* Most popular food */
.most-popular-food {
  color: var(--rgba-color);
  width: 80%;
  margin: 0 auto;
}
.most-popular-food .most-popular-food-text {
  text-align: center;
}
.most-popular-food .most-popular-food-text h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
}
.most-popular-food .most-popular-food-text h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.6;
}
.most-popular-food-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}
.item-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.most-popular-food-items .items {
  border: none;
  outline: none;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}
.most-popular-food-items .item-name {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.most-popular-food-items .item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 10px;
}

.most-popular-food-items .item-order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.most-popular-food-items .star {
  color: var(--orange-color);
  font-size: 22px;
}
.most-popular-food-items .star .except {
  color: var(--white-color);
}

.item-order .order {
  font-size: 18px;
  border-bottom: 2px solid var(--orange-color);
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .most-popular-food .most-popular-food-text h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 74px;
}
.most-popular-food .most-popular-food-text h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.6;
}
.most-popular-food-items .item-name {

  
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}
.most-popular-food-items .item-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.7;
  
}
    
}
@media (max-width: 970px) {
  .most-popular-food-items {
    flex-direction: column;
    align-items: center; /* căn giữa các items */
  }

  .most-popular-food-items .items {
    width: 80%; /* hoặc 100% nếu bạn muốn full */
    max-width: 80%;
    flex: none; /* bỏ flex-grow/shrink/basis cũ */
  }

  .item-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .br{
    display: none;
  }
}


.explore-all-food{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.right img{
   width: 22px;
   margin-left: 10px;
}
.explore-all-food-text{
  border-bottom: 2px solid var(--orange-color);
  padding-bottom: 5px;
}




/* Time  */
/* .time{
  color:var(--white-color);
  width: 100%;
  height: auto;
}
.time .time-items{
  width: 80%;
  margin: 0 auto;
  display: flex;
 
}
.time .time-items .items{
 width: 50%;
 height: auto;
}
.time .items .find-us{
  align-items: center;

} */
.time {
  color: var(--white-color);
  width: 100%;
  padding: 60px 0;
}

.time-items {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.time .item {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.find-us{
  margin: auto;
  
  text-align: center;
}

/* Background ảnh bên trái */
.time .item:first-child {
  background: url('./assets/Avenue.svg') ;
  /* background: url('../home/assets/Avenue.svg') ; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}



/* Màu nền cam bên phải */
.time .orange-bg {
  background-color: #f57c00;
  color: #111;
}

/* Title căn giữa */
.time .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Các dòng giờ mở cửa */
.schedule .day-time {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .time-items {
    flex-direction: column;
    align-items: center;
  }
  .time .item {
    width: 80%;
    padding: 20px;
  }
  .time .item:first-child {
    background-size: cover;
    height: 200px; /* Thay đổi chiều cao cho ảnh bên trái */
  }
  .time .orange-bg {
    padding: 20px; /* Thay đổi padding cho màu nền cam bên phải */
  }
  
}




 /* Our menu  */

.our-menu{
  color: var(--white-color);
  width: 100%;
  padding: 60px 0;
}

.our-menu .our-menu-items{
  width: 80%;
  margin: 0 auto;
}
.our-menu-items .our-menu-item .title,.main-title,.menu-intro{
  text-align: center;
  margin-bottom: 20px;
}
.our-menu-items .our-menu-item .title{
  font-size: 15px;
  font-weight: 500;
}
.our-menu-items .our-menu-item{
  width: 100%;
}
.our-menu-items .our-menu-item .main-title{
  font-size: 38px;
  font-weight: 500;
 
}
.our-menu-items .our-menu-item .menu-intro{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
  margin-bottom: 50px;
}
.our-menu-item .menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 0;
  flex-wrap: wrap;
}
.our-menu-item .menu-list .active span{
border-bottom: 2px solid var(--orange-color);
  color: var(--orange-color);
}
.our-menu-items .line{
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

.our-menu-items .our-menu-item-two{
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
  gap: 2%;
}

.our-menu-items .our-menu-item-two .menu-item img{
  width: 13%;
  
  height: auto;
  
  object-fit: cover;
  display: block;
}
.our-menu-items .our-menu-item-two .menu-item-text {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.our-menu-items .our-menu-item-two .menu-item {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.our-menu-items .our-menu-item-two .menu-item-text p{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
@media screen and (min-width:970px) and (max-width:1200px) {
  .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 15%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width:970px) {
  .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 20%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 18px;
    line-height: 35px;
  }
  
}
@media screen and (max-width: 760px) {
  .our-menu-item .menu-list{
    gap:15px;
    font-size: 18px;
    
  }
  .menu-list li{
    flex-basis: 30%;
    text-align: center;
  }
  .our-menu-item .menu-intro br{
    display: none;
  }
  .our-menu-items .our-menu-item-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-menu-items .our-menu-item-two .menu-item{
    /* margin-bottom: 20px; */
    margin-top: 10px;
  }
  .our-menu-items .our-menu-item-two .menu-item img {
    width: 15%;
  }
  .our-menu-items .our-menu-item-two .menu-item-text p {
    font-size: 18px;
    /* line-height: 30px; */
  }
  
}












/* Our daily  */
/* Our Daily Offers */
.our-daily{
  color: var(--white-color);
  width: 100%;
  margin-top: 80px;
}

.our-daily .our-daily-items{
  width: 80%;
  margin: 0 auto;
  
  flex-wrap: wrap;
  gap: 20px;
}
.our-daily-text{
  text-align: center;
  margin-bottom: 20px;
}
.our-daily-offers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.our-daily-offers .item1{
  position: relative;
}
.our-daily-offers .item1-text{
  position: absolute;
  top: 5%;
  left: 5%;
}
.item1-text-inner{
  border:1px solid var(--white-color);
  padding: 10px 90px 10px 0px;
}
.our-daily-offers .item2{
  width: 50%;
  height: 100%;
}
