.container{
    width: 100%;
    max-width: 1920px;
}
.title{
    color: white;
    width: 81%;
    height: 2.7%;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    font-family: 'Libre Bodoni';
    line-height: 130px;
    vertical-align: middle;
    overflow: hidden;
}
.block1{
    margin: 40px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    gap: 5%;
    /* border-bottom: 1px outset white; */
}
.block1--img img{
    width: 100%;
    height: 100%;
}
.block1--name{
    width: 100%;
    height: 30%;
    font-size: 40px;
    font-family: 'Libre Bodoni';
    overflow: hidden;
}
.block1--info{
    color: white;
    width: 90%;
    height: 30%;
    margin-top: 10%;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    opacity: 0.8;
}
.block1--by{
    height: 15%;
    margin-bottom: 5%;
    border-bottom: 1px outset white;
}
.rmbtn{
    color: white;
    width: 83px;
    height: 32px;
    border-bottom: 1px solid orange;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.15s;
}
.rmbtn:hover{
    color: orange;
    /* border-bottom: 1px solid white; */
    opacity: 0.8;
}
.rmbtn:active{
    color: white;
    border-bottom: 1px solid orange;
}
.block2,.block3,.block4 {
    width: 80%;
    margin: 8% auto;
    height: 17%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 21.5%;
    border-top: 1px solid white;
}
.block--img{
    margin-top: 5%;
    height: 65%;
    width: 100%;
}
.block--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.context--name,.context--by{
    overflow: hidden;
    color: white;
}
.context--name{
    margin-top: 3%;
    width: 100%;
    height: 20%;
    font-size: 40px;
}
.context--by{
    margin-top: 3%;
    height: 10%;
    font-size: 16px;
    opacity: 0.8;
    border-bottom: 1px outset white;
    margin-bottom: 5%;
}
.pagination{
    width: 80%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    border-top: 1px outset white;
}
.pagination--number--more{
    display: none;
}
.pagination--number{
    margin-top: 8%;
}
.pagination--number a{
    color: white;
    font-family: 'Plus Jakarta Sans';
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    padding: 5px 10px;
    transition: 0.15s;
}

.pagination--number a:hover{
    color: black;
    background-color: white;
    opacity: 0.8;
}
.pagination--number a:active{
    background-color: orange;
}
.pagination-switchbtn{
    margin-top: 8%;
    text-decoration: none;
    color: white;
}
.switchbtn1{
    padding-right: 100%;
}
.switchbtn2{
    padding-left: 85%;
}
.pagination-switchbtn:hover{
    color: orange;
}
.pagination-switchbtn:active{
    color: white;
}
.newsletter {
    width: 100%;
    margin-top: 20px;
    background-image: url("assets/introduceaboutrestaurant.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 194px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}
  
.newsletter .item-title,
.newsletter .item-input {
    padding-left: 12%;
}
  .newsletter .item-title h3{
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 0;
}
.newsletter .item-input {
    position: relative;
    width: 80%;
}
  
.newsletter .item-input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 8px 15px 0;
    color: #fff;
    font-size: 16px;
}
  
.newsletter .item-input input::placeholder {
    color: #ccc;
    opacity: 0.6;
}
  
.newsletter .item-input i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.newsletter .item-input i:hover{
    color: orange;
    transition: 0.15s;
}
.newsletter .item-input i:active{
    color: white;
}
@media screen and (max-width:768px) {
.block1,.block2,.block3,.block4{
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
}
.block1--info{
    margin-top: 2%;
}
.block1--by{
    margin-top: 5%;
}
.block--img{
    margin-top: 0%;
    width: 100%;
}
.context--name{
    margin-top: 3%;
    width: 100%;
    height: 20%;
    font-size: 30px;
}
.context2{
    margin-top: 5%;
}
.context--by{
    margin-top: 10%;
    height: 10%;
    font-size: 16px;
    opacity: 0.8;
    border-bottom: 1px outset white;
    margin-bottom: 5%;
}
.newsletter{
    grid-template-columns: 1fr;
}
.newsletter .item-input{
    padding-bottom: 20px; 
}
}