.reservation {
    background: url('../reservation/assets/Rectangle 26.svg') center/cover no-repeat;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    position: relative;
}
.reservation::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.201);
    z-index: 1;
}

.reservation-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: auto;
}

.reservation-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.reservation-content h1 span {
    color: #fff;
}

.reservation-content p {
    font-size: 14px;
    color: #ccc;
}

.reservation-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.reservation-form input,
.reservation-form select {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.reservation-form select {
    color: aqua !important;
}

.reservation-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.reservation-form select {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.reserve-btn {
    margin-top: 10px;
    color: orange;
    border-bottom: 1px solid orange;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

.reserve-btn:hover {
    color: white;
}

.reserve-location {
    display: flex;
    justify-content: space-around;
    background: #111;
    color: white;
    padding: 40px 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.location {
    text-align: center;
    max-width: 250px;
}

.location a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid orange;
}

.location a:hover {
    color: orange;
}

@media screen and (max-width: 992px) {
    .reservation-form {
        grid-template-columns: repeat(2, 1fr);
    }

    .reserve-location {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .reservation-content h1 {
        font-size: 32px;
    }

    .reservation-form {
        grid-template-columns: 1fr;
    }

    .reservation-form input,
    .reservation-form select {
        width: 100%;
    }

    .reserve-btn {
        width: 100%;
    }

    .location {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}